<launch>
  <arg name="config" default="$(find lightning)/config/default_mid360_cattle_ros1.yaml"/>
  <arg name="input_bag" default=""/>
  <arg name="output_dir" default="./data/new_map/"/>
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="livox_frame" default="livox_frame"/>

  <node pkg="lightning" type="run_slam_offline" name="run_slam_offline" output="screen"
        args="--config=$(arg config) --input_bag=$(arg input_bag) --output_dir=$(arg output_dir)"/>
</launch>
